@CHARSET "UTF-8";

body {
	margin: 0 auto;
	padding: 0;
	font-family: Arial;
	height: 760px;
}

#main {
	min-height: 680px;
	position: rerative;
	width: 100%;
	text-align: center;
}

#itemList {
	max-width: 90%;
	margin: 0 auto;
}

#itemList ul {
	display: inline-block;
	border: 1px solid black;
	padding: 70px;
	margin-top: 150px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 0;

}

ul li {
	list-style: none;
}

.button {
	margin-top: 20px;
	padding: 10px 30px;
	font-weight:bold;
	background-color: black;
	border: none;
	border-radius: 0 7px 0 7px;
	color: white;

}

#background {
	background-color: black;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.5;
	z-index: 0;
}


#CartAddAction {
	position: absolute;
	display: none;
	width: 70%;
	height: 600px;
	top: 180px;
	left: 15%;
	background-color: white;
	z-index: 1;
}

#CartAddAction #close {
	height: 30px;
	width: 30px;
	border-radius:50%;
	background-color:#33FFFF;
	border:none;
	font-size:25px;
	color:white;
	float:right;
	margin:10px 20px;
	margin-top: 10px;;
	padding:1px 7px;
	padding-bottom:0;
	margin-right: 10px;
}

#CartAddAction #close:hover {
	background-color:red;
	transition: .5s ease 0s;
}

#CartAddAction p {
	float:left;
	width:50%;
	height:500px;
	border:1px solid black;
	margin-left:10%;
	margin-top:50px;
	line-height:300px;
}

.img {
	height: 600px;
	line-height: 600px;
	width: 60%;
	float: left;
}

.img img {
	width: 100%;
	vertical-align: middle;
	padding-left: 20px;
	object-fit: contain;
}

.itemList {
	float: left;
	width: 35%;
}

.itemList ul {
	width: 100%;
	text-align: left;
	margin-top: 60px;
}

.itemList li {
	list-style:none;
	padding-bottom:10px;
}

.link {
	margin-top: 50px;
}

.link a{
	padding-top: 50px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
	color: #AAAAAA;
}

.link a:hover {
	border-bottom: solid 2px #FF6666;
	color: #FF6666;
	transition: .5s ease 0s;
}

#footer {
	height: 80px;
	width: 100%;
	background-color: #CCFFFF;
}