@CHARSET "UTF-8";

body {
	margin: 0 auto;
	padding: 0;
	font-family: Arial;
	height: 760px;
	color: #222222;
}

#main {
	height: 630px;
	position: rerative;
	width: 100%;
	text-align: center;
	margin: 0;
	margin-top: 20px;
}

#myPageItemList {
	width: 50%;
	float: left;
	height: 500px;
}

#myPageAddressList {
	width: 50%;
	float: left;
	height: 500px;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
 	border-spacing: 0;
  	width: 70%;
  	font-size: 15px;

}

table th {
	background-color: #333333;
	color: white;
}

table th, table td {
	padding: 10px 20px;
	border: 1px solid #CCCCCC;
}

tr input {
	width: 90%;
}

.button {
	margin-top: 20px;
	padding: 10px 30px;
	font-weight:bold;
	background-color: black;
	border: none;
	border-radius: 0 7px 0 7px;
	color: white;

}

.button:disabled {
	background-color: gray;
	opacity: 0.9;
}

.link {
	padding-top: 100px;
	height: 20px;
}

.link a{
	padding-top: 50px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	color: #AAAAAA;
}

.link a:hover {
	border-bottom: solid 2px #FF6666;
	color: #FF6666;
	transition: .5s ease 0s;
}

#link {
	margin-bottom: 30px;
}

#error {
	margin-bottom: 10px;
}

#footer {
	height: 80px;
	width: 100%;
	background-color: #CCFFFF;
}